{{define "content"}}
	<div class="row detail">
		<div class="columns-small-8 small-offset-2">
			<div class="row">
				<div class="columns small-4">
					<img src="/img/lemon.png" alt="lemon" />
				</div>
				<div class="columns small-8 details">
					<h2>{{.Product.Name}}</h2>
					<div class="row">
						<div class="columns small-3 text-right">
							Price
						</div>
						<div class="columns small-8 small-offset-1">
							${{.Product.PricePerLiter}} / liter
						</div>
					</div>
					<div class="row">
						<div class="columns small-8 small-offset-4">
							${{.Product.PricePer10Liter}}/ liter (10 or more)
						</div>
					</div>
					<div class="row">
						<div class="columns small-3 text-right">
							Organic
						</div>
						<div class="columns small-8 small-offset-1">
							{{if eq .Product.IsOrganic true}}
								Yes
							{{else}}
								No
							{{end}}
						</div>
					</div>
					<div class="row">
						<div class="columns small-3 text-right">
							Origin
						</div>
						<div class="columns small-8 small-offset-1">
							{{.Product.Origin}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns small-10 small-offset-1">
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12">
					<p>
						{{.Product.DescriptionLong}}
					</p>
					<p>
						{{.Product.DescriptionShort}}
					</p>
				</div>
			</div>
		</div>
	</div>
{{end}}